.container {
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-fields {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 200px 24px 200px;

    @media (min-width: 769px) and (max-width: 1024px) {
        margin: 0 100px 24px 100px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
        margin: 0 0 24px 0;
    }
}

.bias-control {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    height: 56px;

    mat-form-field {
        width: 180px;

        ::ng-deep {
            input.mat-mdc-input-element {
                text-align: left;
            }
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        mat-form-field {
            width: 150px;
        }
    }

    @media (max-width: 768px) {
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        height: auto;

        mat-form-field {
            width: 100%;
        }
    }
}

.grid {
    overflow-x: auto;
    margin: 0 -16px;
    padding: 0 16px;

    .row {
        display: flex;
        justify-content: center;

        .cell {
            min-width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;

            @media (max-width: 480px) {
                min-width: 28px;
                height: 28px;
                font-size: 14px;
            }
        }
    }
}

.generate-button {
    width: 180px;
    height: 48px;
    border-radius: 0;
    margin-top: 4px;

    @media (min-width: 769px) and (max-width: 1024px) {
        width: 150px;
    }

    @media (max-width: 768px) {
        width: 80%;
        margin: 0 auto;
        display: block;
        height: 48px;
    }
}
