.secret-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secret-field {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--mat-sys-outline);
    border-radius: 4px;
    text-align: center;
    background-color: var(--mat-sys-primary-container);
}
