@use '@angular/material' as mat;
@use './theme-colors' as colors;
@include mat.core();

// My bullshit starts here

html {
    color-scheme: dark;
    @include mat.theme((color: colors.$primary-palette,
            typography: Roboto,
            density: 0,
        ));
}


body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// my bullshit ends here
